## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = (counts[counts>523].index)
application_types_to_replace

Index(['T3', 'T4', 'T6', 'T5', 'T19', 'T8', 'T7', 'T10'], dtype='object')

In [20]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34023
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Look at CLASSIFICATION value counts for binning
counts1 = application_df['CLASSIFICATION'].value_counts()
counts1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts2 = counts1[counts1>1]
counts2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [31]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = (counts2[counts2>1882].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Other    32038
C7000      777
C1700      287
C4000      194
C5000      116
         ...
C4120        1
C8210        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, Length: 67, dtype: int64

In [32]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\joyce\AppData\Local\Temp\ipykernel_20296\3766499242.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [35]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 157400

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 157451 (615.04 KB)
Trainable params: 157451 (615.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
 # Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 6ms/step - loss: 0.5374 - accuracy: 0.7220
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.3261 - accuracy: 0.8708
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1685 - accuracy: 0.9324
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1253 - accuracy: 0.9485
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1108 - accuracy: 0.9565
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1038 - accuracy: 0.9591
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0990 - accuracy: 0.9599
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0975 - accuracy: 0.9597
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0953 - accuracy: 0.9609
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0946 - accuracy: 0.9608
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0937 - accuracy: 0.9616
Epoch 12/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0930 - accuracy: 0.9620
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0920 - accuracy: 0.9621
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0914 - accuracy: 0.9625
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0917 - accuracy: 0.9624
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0916 - accuracy: 0.9621
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0908 - accuracy: 0.9631
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0904 - accuracy: 0.9628
Epoch 19/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0907 - accuracy: 0.9632
Epoch 20/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0896 - accuracy: 0.9633
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0898 - accuracy: 0.9630
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0894 - accuracy: 0.9635
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0895 - accuracy: 0.9630
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0895 - accuracy: 0.9635
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0890 - accuracy: 0.9631
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0885 - accuracy: 0.9637
Epoch 27/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0888 - accuracy: 0.9638
Epoch 28/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0883 - accuracy: 0.9637
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0880 - accuracy: 0.9645
Epoch 30/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0880 - accuracy: 0.9641
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0878 - accuracy: 0.9640
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0876 - accuracy: 0.9639
Epoch 33/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0874 - accuracy: 0.9645
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0870 - accuracy: 0.9642
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0870 - accuracy: 0.9651
Epoch 36/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0865 - accuracy: 0.9645
Epoch 37/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0864 - accuracy: 0.9647
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0860 - accuracy: 0.9649
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0862 - accuracy: 0.9649
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0859 - accuracy: 0.9650
Epoch 41/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0859 - accuracy: 0.9653
Epoch 42/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0858 - accuracy: 0.9650
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0860 - accuracy: 0.9647
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0855 - accuracy: 0.9649
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0860 - accuracy: 0.9649
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0854 - accuracy: 0.9644
Epoch 47/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0849 - accuracy: 0.9653
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0850 - accuracy: 0.9653
Epoch 49/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0849 - accuracy: 0.9652
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0849 - accuracy: 0.9655
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0849 - accuracy: 0.9653
Epoch 52/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0846 - accuracy: 0.9656
Epoch 53/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0847 - accuracy: 0.9658
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0844 - accuracy: 0.9658
Epoch 55/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0842 - accuracy: 0.9655
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0839 - accuracy: 0.9661
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0843 - accuracy: 0.9656
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0840 - accuracy: 0.9653
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0836 - accuracy: 0.9663
Epoch 60/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0838 - accuracy: 0.9660
Epoch 61/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0837 - accuracy: 0.9662
Epoch 62/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0838 - accuracy: 0.9656
Epoch 63/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0835 - accuracy: 0.9665
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0835 - accuracy: 0.9656
Epoch 65/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0836 - accuracy: 0.9653
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0835 - accuracy: 0.9659
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0833 - accuracy: 0.9664
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0829 - accuracy: 0.9667
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0831 - accuracy: 0.9656
Epoch 70/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0830 - accuracy: 0.9669
Epoch 71/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0830 - accuracy: 0.9658
Epoch 72/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0831 - accuracy: 0.9666
Epoch 73/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0826 - accuracy: 0.9665
Epoch 74/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0830 - accuracy: 0.9661
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0827 - accuracy: 0.9663
Epoch 76/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0826 - accuracy: 0.9666
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0826 - accuracy: 0.9666
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0824 - accuracy: 0.9664
Epoch 79/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0824 - accuracy: 0.9667
Epoch 80/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0826 - accuracy: 0.9661
Epoch 81/100

804/804 [==============================] - 5s 6ms/step - loss: 0.0827 - accuracy: 0.9666
Epoch 82/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0827 - accuracy: 0.9663
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0823 - accuracy: 0.9661
Epoch 84/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0822 - accuracy: 0.9669
Epoch 85/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0823 - accuracy: 0.9670
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0822 - accuracy: 0.9666
Epoch 87/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0817 - accuracy: 0.9671
Epoch 88/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0821 - accuracy: 0.9669
Epoch 89/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0819 - accuracy: 0.9668
Epoch 90/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0817 - accuracy: 0.9668
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0822 - accuracy: 0.9663
Epoch 92/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0817 - accuracy: 0.9671
Epoch 93/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0819 - accuracy: 0.9671
Epoch 94/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0815 - accuracy: 0.9670
Epoch 95/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0816 - accuracy: 0.9667
Epoch 96/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0818 - accuracy: 0.9670
Epoch 97/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0814 - accuracy: 0.9670
Epoch 98/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0814 - accuracy: 0.9671
Epoch 99/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0815 - accuracy: 0.9673
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0813 - accuracy: 0.9675

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5662 - accuracy: 0.7634 - 1s/epoch - 4ms/step
Loss: 0.5662094950675964, Accuracy: 0.7633818984031677

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE